<!DOCTYPE html>

<html>
<head>
  <title>x-polyedit Demo</title>

  <meta name="viewport"
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>

  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="import" href="../../bower_components/polymer/polymer.html">

  <link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
  <link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html"/>
  <link rel="import" href="../../bower_components/core-dropdown/core-dropdown.html">
  <link rel="import" href="../../bower_components/core-dropdown-menu/core-dropdown-menu.html">
  <link rel="import" href="../../bower_components/core-menu/core-menu.html">
  <link rel="import" href="../../bower_components/core-item/core-item.html">

  <link rel="import" href="x-polyedit.html">
  <link rel="import" href="../../../demo-service.html"/>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <style>
    .test-editor {
      margin: 10px;
      border: 1px solid #265a88;
      padding: 20px;
    }
  </style>
</head>

<body fullbleed vertical layout unresolved>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/public/components/x-polyedit/demo.html">Demo</a></li>
            <li role="presentation"><a href="">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Polymer Editor</h3>
      </div>
      <div class="jumbotron">
        <h1>Polymer Editor Demo</h1>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <template is="auto-binding">
            <script>
              console.log('no');
              scope = document.querySelector('template[is=auto-binding]');
              scope.contentStyles = [
                {label: 'WYSIWYG', value:''},
                {label:'Jade', value:'jade'},
                {label:'HTML', value:'html'}
              ];
              scope.currentStyle = 'jade';
              scope.editable = true;

            </script>
            <style>
              ul {
                font-size: 100%;
              }
            </style>
            <demo-service settings="{{settings}}"></demo-service>


            <p>Place HTML within the code editor to see its structure</p>

            <div class="edit-controls">
              <label>
                Content Style
                <select id="selectContentStyle" value="{{currentStyle}}">
                  <template repeat="{{contentStyles as style}}">
                    <option value="{{style.value}}">{{style.label}}</option>
                  </template>
                </select></label>

              <label>Editable
                <input id="editable" type="checkbox" value="yes" checked?="{{editable}}"/>
              </label>
            </div>

            <x-polyedit
                    class="test-editor"
                    id="element"
                    content-style="{{currentStyle}}"
                    content-s="{{currentStyle}}"
                    editable="{{editable}}">
              <h1>A first heading</h1>
              <p>And some paragraph text</p>
              <div class="randomDiv">Text in a div</div>
              <p>All sorts of things are <span class="doubtful">(not)</span> supported:</p>
              <h2>A second heading</h2>
              <ul id="someList">
                <li>list items</li>
                <li>unordered lists</li>
              </ul>
              <h3 class="special">A third heading with a class</h3>
              <p>Some text in <strong>Strong stuff</strong>, <i>Italic</i> and <b>Bold</b>.</p>
            </x-polyedit>
          </template>
        </div>
      </div>
    </div>

</body>
</html>
